@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300;700&family=Lato:wght@400;700&family=Oswald&family=Roboto+Condensed:wght@400;700&family=Sofia+Sans:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Chivo Mono', monospace;
}

body {
    background-color: aqua;
}

table {
    border: 1px solid black;
    border-radius: 8px;
    margin-right: 100px;
}

.right {
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 50px;
    text-align: center;
}

table tr {
    border: 1px solid black;
}

table td {
    border: 1px solid black;
}

.container {
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    justify-content: space-between;
}

button {
    border-radius: 10px;
    border: 1px solid #F7971E;
    color: black;
    font-weight: bold;
    padding: 7px;
    transition: 0.2s ease-in-out;
}

button:hover {
    background: #F7971E;
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);
    background: linear-gradient(to right, #FFD200, #F7971E);
    color: black;
    border-radius: 10px;
}

table {
    background: #f12711;
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);
    background: linear-gradient(to right, #f5af19, #f12711);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

h1 {
    text-align: center;
    background-color: rgb(4, 0, 255);
    border-radius: 20px;
}

.left td {
    padding: 15px;
}